/* Write your CSS code here */
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

.website-logo {
  width: 180px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
}

.nav-link {
  font-size: 28px;
  font-family: Roboto;
  margin-right: 6px;
}
.logout-button {
  background-color: #0b69ff;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
}
